.navbar {
    padding-left: 100px;
    padding-right: 100px;
    background: #0C65B8;
    display: inline-block;

}


.headertext{
    font-family: 'Meiryo';
    font-style: normal;
    font-weight: 700; 
    font-size: 15px;
    color: #0C65B8;
    letter-spacing: 1px;
    display: inline-block;
    align-items: center;
}


.space{
    height:7vh;
}

.minispace{
    height:2vh;
}

.minispace2{
    height:7vh;
}


.portfolios{
    background: transparent;
    text-align:center;
    min-height:10vh;
    padding-left:10vw;
    padding-right:10vw;
    display:inline-flex;
    min-height:101vh;
    align-items:center;

    padding-top:50px;
    
    background-color:rgba(0, 21, 46, 0.89);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    padding-bottom:5vh;
    display:flex;
    width: calc(100vw - (100vw - 100%));

}

.about{
    background: transparent;
    text-align:center;
    min-height:10vh;
    padding-left:10vw;
    padding-right:10vw;
    display:inline-flex;
    min-height:101vh;
    align-items:center;

    padding-top:50px;
    
    background-color:rgba(0, 21, 46, 0.9);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    padding-bottom:5vh;
    display:flex;
    width: calc(100vw - (100vw - 100%));

}

.paragraph{
    font-family: 'Meiryo';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    text-align: center;
    
    color: white;
}

.bottomText{
        font-family: 'Meiryo';
        font-style: normal;
        font-weight: 500;
        font-size: 0.8em;
        text-align: center;
        letter-spacing:2px;
        color: lightgray;

}

img.center {
    display: block;
    margin: 0 auto;
}


.home{
    display:inline-flex;

    padding-top:50px;
    text-align:center;
    

    width: calc(100vw - (100vw - 100%));

    height: 100vh;
    
    padding-top:50px;
    
    background-color:rgba(0, 21, 46, 0.86);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    

    align-items:center;


    
}

.background{
    background-color:rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;

    object-fit:cover;
    z-index:-1;

    position:fixed;
    padding-top:50px;
    height: 100vh;
    display:flex;
    width: calc(100vw - (100vw - 100%));
}

img{
    display: flex;

justify-content: center;

align-items: center;

text-align: center

}


.homeFront{
    display:inline-block;

    vertical-align: middle;
    text-align: center;


    font-family: 'Meiryo';
    font-style: normal;
    font-weight: 600; 
    text-align:center;
    font-size:calc(max(30px, 2vw));
}

.workbox{

    width:100%;
    height:36vh;

    background-size:cover;
    background-position: center;

    color:transparent;

    padding:5%;

    background-color:rgba(0, 21, 46, 0);
    background-blend-mode: multiply;

    font-family: 'Meiryo';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    text-align: center;

    display:flex;
    align-items:center;
    text-align:center;

}

.workbox:hover{
    background-color:rgba(0, 21, 46, 1);
    color:white;
}

a{
    color:inherit;
    text-decoration: none;
}

.box{
    transform: rotateZ(0deg);

}

.box:hover{
    animation: wiggle 2s linear infinite;

}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

.movingcolortext{
    background-image: linear-gradient(
        90deg,
        orange 0%,
        white 33%,
        white 67%,
        orange 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: textclip 6s linear infinite;
}

.head1{
    font-family: 'Meiryo';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25em;
    text-align: center;
    
    
    color: white;
}


.head2{
    font-family: 'Meiryo';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    text-align: center;


    
color: white;


}
    

@keyframes textclip {
    0% {
      background-position: 400% center;
    }
    100% {
        background-position: 0% center
    }
  }


@keyframes fadeIn {
    0% {background-color:rgba(191, 144, 235, 0.3);}
    100% {background-color:rgba(191, 144, 235, 1);}
    
}
